---
layout: default
---

<div class="posts">
  {% for post in site.tags.code limit:1 %}
      <article class="post" style="border-bottom:none; padding-bottom:0;">    
        
        <h1><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        <div class="sub">{{ post.date | date: "%B %e, %Y" }}</div>
      </h1>

          <div class="entry">
        {{ post.content }}
      </div>
          {% include disqus.html disqus_identifier=page.disqus_identifier %}
      </article>
  {% endfor %}
</div>
