---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  {% capture currentyear %}{{post.date | date: "%B %Y" | upcase}}{% endcapture %}
  {% if currentyear != year %}
    {% unless forloop.first %}{% endunless %}
    <article class="title" style="font-size: 50px; font-weight:300; margin-top:20px;">{{ currentyear }}</article>
    
    {% capture year %}{{currentyear}}{% endcapture %} 
  {% endif %}
    <article class="post" style="border-bottom:none; padding-bottom:0;">    
        
        <h1 class="title"><a href="{{site.baseurl}}{{ post.url }}" style="font-size:23px;">{{ post.title | upcase}}</a>
        <div class="sub">{{ post.date | date: "%B %e, %Y" }}</div>
    </h1>
        
    </article>
{% endfor %}
</div>
