---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  margin:0;
  padding:0;
}

.topper {
  height:17px;
  background:url("http://subtlepatterns.com/patterns/food.png");
}

.bd {
  background: white;
  font: 17px/1.4 "Open Sans";
  color: $darkGray;
  width:100%;
  }

.adsbygoogle {
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  display: none;
}


.fin {
  display:table-cell;
  vertical-align:middle;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 35px 20px;
  width: 100%;
  @include mobile {
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  color: #4F4F4F;
  font-weight: bold;

  line-height: 1.4;
  margin: 20px 0 15px;
  padding: 0;
  text-transform: uppercase;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  border-bottom: 1px solid #B7B7B7;
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  a {
  border-bottom: 1px solid;
  border-style: dashed;
  }
}

a {
  color: #4F4F4F;
  font-weight:700;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #777;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  width: 23%;
  position: fixed;
  height: 100vh;
  background: #fff;
  display: table;


  &:hover {
    .linkk {
      visibility: visible;
    }
  }

  @include mobile {
    position:relative;
    height:auto;
    width:100%;
    height:auto;
    border-right:none;
    border-bottom:1px solid #e1e1e1;
  }
}

#main {
  width:75%;
  max-width:100%;
  margin-left:23%;
  @include mobile {
    width:90%;
    margin: 0 auto;

  }
}

.right {
  padding: 2% 15%;
  max-width:350px;
  display: table-cell;
  vertical-align: middle;
  @include mobile {
    padding:0;
    width:100%;
    max-width: 10000px;
  }
}

article {
  max-width: 700px;
margin: 0 auto;
}

.masthead {
  padding: 20px;
  border: 1px solid #e1e1e1;

  @include mobile {
    text-align: center;
    border:none;
    padding: 10px 10px;
  }
}

.site-avatar {
  display:inherit;
  width: 100%;
  padding:8px;
  transition: .2s ease;
  margin: 0 auto;
  text-decoration:none;
  border:none;
  @include mobile {
    float: none;
    display: block;
    width:100px;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {

  margin: 25px 0;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.entry {
  color:#4F4F4F;
}

.title {
  margin-bottom:5px;
  font-size:35px;
  line-height:1.1;
}

.big {
  font-size:50px;
}

.sub {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.bump {
  margin-bottom:50px;
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: "Pacifico";
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  text-align:center;
}

.site-description {
  margin: 5px 0 0 0;
  color: #3A3A3C;
  font-weight:700;
  font-size: 18px;
  text-align:center;

  @include mobile {
    display:none;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: "Open Sans";
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  font-family: "Open Sans";
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  display:none;
}

footer {
  padding-top: 20px;
  text-align: center;
    @include mobile {
      display:none;
    }
}

.linkk {
width: 100%;
text-align: left;
padding: 3px 25px;
margin-bottom: 1px;
text-decoration: none;
font-weight: 300;
font-size: 25px;
color: rgb(58, 58, 60);
cursor: pointer;
-webkit-transition: .2s ease;
transition: .2s ease;
  @include mobile {
    display: none;
  }
}

.linkk:hover {
  opacity: .7;
  font-weight: 500;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
