---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  margin:0;
  padding:0;
  transition: .3s ease;
}

.topper {
  height:17px;
  url(http://subtlepatterns.com/patterns/congruent_pentagon.png);
}

.bd {
  background: $white;
  font: 17px/1.4 "Open Sans";
  color: $darkGray;
  width:100%;
  margin:0 auto;
  max-width:950px;
  display:table;
}

.foot {
width: 100%;
height: 70px;
margin-top: 30px;
border-top: 1px solid #e1e1e1;
background: #f1f1f1;
/* display: inline-block; */
text-align: center;
font-family: "Open Sans";
font-size: 15px;
color: #777;
display:table;
}

.fin {
  display:table-cell;
  vertical-align:middle;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  color: $darkerGray;
  font-weight: bold;
  
  line-height: 1.4;
  margin: 20px 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
  
h1 {  
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {  
  font-size: 24px;
}

h3 {  
  font-size: 20px;
}

h4 {  
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: #000;
  font-weight:700;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #777;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 0px;
  float:left;
  width:25%;

  @include mobile {
    position:relative;
    width:100%;
    background:#F0F0F0;
    border:1px solid #e1e1e1;
  }
}

#main {
  width:75%;
  float:right;
  @include mobile {
    width:100%;
  }
}

.masthead {
  padding: 20px 0px;
  
  
  @include mobile {
    text-align: center;
    border:none;
    padding: 10px 0;
  }
}

.site-avatar {
  display:table;
  width: 100%;
  padding:8px;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    width:100px;
  }

  img {
    border-radius: 5px;
  }
}

.site-avatar:hover {
  padding:2px;
}

.site-info {
  

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.title {
  border-bottom: 2px solid #222222;
}

.sub {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: "Pacifico"; 
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  text-align:center;
}

.site-description {
  margin: 5px 0 0 0;
  color: $gray;
  font-size: 18px;
  text-align:center;
  
  @include mobile {
    display:none;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: "Open Sans"; 
  font-size: 18px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  font-family: "Open Sans";
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  display:none;

}

footer {
  padding-top: 20px;
  text-align: center;
    @include mobile {
      display:none;
    }
}

#topper {
  margin-top:21px;
  @include mobile {
    margin: 8px 0 0 0;
  }
}

.linkk {
width: 100%;
text-align: center;
padding: 5px 0;
margin-bottom: 8px;
font-weight: 700;
font-size: 21px;
cursor: pointer;
  @include mobile {
    border:none;
    float:left;
    width:33.3333%;
    margin: 8px 0 0 0;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
