<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  <meta name="author" style="font-weight:300;" content="{{ site.name }}" />
  <meta name="description" content="Hello! My name is Daniel Wilson and I love music, life, and technology! Hope your having a nice day.">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link rel="icon" 
      type="image/png" 
      href="{{site.baseurl}}/images/Logo.ico">
      <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
      <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    </head>

    <body>
      <div class="bd">
        <div class="wrapper-masthead">
          <div class="container right">
            <header class="masthead clearfix">
              <a href="http://kgingras.github.io/blog" class="site-avatar"><img src="http://kgingras.github.io/Images/blognameimg.png" /></a>

              <div class="site-info">
              <a href="/blog/project">
                <div class="linkk" id="topper">
                  PROJECTS
                </div>
              </a>
              <a href="/blog/life">
                <div class="linkk">
                  LIFE
                </div>
              </a>
              <a href="/blog/code">
                <div class="linkk">
                  CODE
                </div>
              </a>
              </div>
              <!-- 
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-5336914271356771"
              data-ad-slot="6061658447"
              data-ad-format="auto"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
 -->
            </header>
          </div>

        </div>

        <div id="main" role="main" class="container">
          {{ content }}
        </div>


        {% include analytics.html %}
      </div>
    </body>
    </html>

